*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
header{
    display: flex;
    background: #418FDE;
    min-height: 90px;
    align-items: center;
    justify-content: space-around;
    color: #f1f1f1;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    flex-basis: 15%;
    list-style: none;
}

.nav-links a{
    text-transform: uppercase;
    color: #f1f1f1;
    text-decoration: none;
    background: #169fe4;
     padding: 12px;
    border-radius: 5px;
}
.nav-links a:hover{
    color: #fff;
}

main{
    max-width: 100%;
    margin: 0 auto;
    margin: 100px;
}
main h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    list-style: none;
    justify-content: space-around;
}
#articles h2{
    word-wrap: break-word;
    max-width: 20vw;
    padding-left: 30px;
    color: #418FDE

}
.text{
    padding: 20px 30px;
}

#articles h2 a{
   text-decoration: none;
    color: #418FDE

}
#articles h2 a:hover{
    text-decoration: underline;
     color: #418FDE
 
 }
#articles img {
    margin: 30px;
  border-radius: 2px;

    max-width: 24vw;
  }
  #articles img:hover {
    opacity: 0.5;
   
  }
