*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
header{
    display: flex;
    background: #418FDE;
    min-height: 90px;
    align-items: center;
    justify-content: space-around;
    color: #f1f1f1;
}
.logo a{
    color: #f1f1f1;
    text-decoration: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    flex-basis: 15%;
    list-style: none;
}

.nav-links a{
    text-transform: uppercase;
    color: #f1f1f1;
    text-decoration: none;
    background: #169fe4;
     padding: 12px;
    border-radius: 5px;
}
.nav-links a:hover{
    color: #fff;
}

main{
    max-width: 100%;
    margin: 0 auto;
    margin: 100px;
}
main h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
#articles{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    list-style: none;
    justify-content: space-around;
}
#articles li{
    margin-bottom: 20px;
}
#articles h2{
    word-wrap: break-word;
    max-width: 20vw;
    padding-top: 20px;
    color: #418FDE

}
.text{
    padding: 20px 0px;
    color: #000;
}
.text a {
    color: #418FDE;
}
#articles h2 a{
   text-decoration: none;
    color: #418FDE

}
#articles h2 a:hover{
    text-decoration: underline;
     color: #418FDE
 
 }
#articles img {
    
    border-radius: 2px;
    max-width: 26vw;
  }
  #articles img:hover {
    opacity: 0.5;
   
  }







  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
